@font-face {
  font-family: 'Sora-Variable';
  src: url("/assets/fonts/Sora-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Sora Bold';
  src: url("/assets/fonts//static/Sora-Bold.ttf");
}

@font-face {
  font-family: 'Sora ExtraBold';
  src: url("/assets/fonts//static/Sora-ExtraBold.ttf");
}

@font-face {
  font-family: 'Sora ExtraLight';
  src: url("/assets/fonts//static/Sora-ExtraLight.ttf");
}

@font-face {
  font-family: 'Sora Light';
  src: url("/assets/fonts//static/Sora-Light.ttf");
}

@font-face {
  font-family: 'Sora Medium';
  src: url("/assets/fonts//static/Sora-Medium.ttf");
}

@font-face {
  font-family: 'Sora Regular';
  src: url("/assets/fonts//static/Sora-Regular.ttf");
}

@font-face {
  font-family: 'Sora SemiBold';
  src: url("/assets/fonts//static/Sora-SemiBold.ttf");
}

@font-face {
  font-family: 'Sora Thin';
  src: url("/assets/fonts//static/Sora-Thin.ttf");
}
